*{padding: 0;margin: 0}
body{text-align: center;padding: 20px}
button{padding: 5px;cursor: pointer; }
.bg-color{
    background-color: #ededed;
}
#scene{
    text-align: left;
    padding: 5px;
    width: 400px;
    height: 400px;
    background-color:#c3ac9c;margin: 10px auto;
}
.div-block{
    box-sizing: border-box;
    text-align: center;
    color: #575757;
    font-weight: 600;
    border-radius:4px;
    background-color: #d1c1af;
    height: 90px;
    width: 90px;
    margin: 5px;
    padding: 5px;
    line-height: 80px;
    font-size: 30px;
    float: left;
}
